{% extends 'libapp/base.html' %}
{% block body_block %}
    <div style="width: 18%">
    {% if notfound == True %}
        <ul>
        <li><p style="font-size: small">Book not found</p></li>
        </ul>
    {% endif %}
    {% if notinput %}
       <ul>
        <li><p style="font-size: small">No input provided for search.</p></li>
        </ul>
    {% endif %}

    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}<br/>
        <input type="submit" class="btn btn-primary" value="Submit"><br/>
    </form>
      </div>
    <h3>Search Results:</h3>
        {% if bookob and dvdob%}
            Total {{ bookob.count|add:dvdob.count }} results. <br/><br/>
                Search returned: {{ bookob.count }} books.<br/>
                <ol>
                {% for book in bookob %}
                    <li><a href="/libapp/{{ book.id }}" style="text-decoration: underline; font-size: 130%"><cite>{{ book.title }}</cite></a><br/></li>
                {% endfor %}
                </ol>
                Search returned: {{ dvdob.count }} dvds.<br/>
                <ol>
                {% for dvd in dvdob %}
                    <li><a href="/libapp/{{ dvd.id }}" style="text-decoration: underline; font-size: 130%"><cite>{{ dvd.title }}</cite></a><br/></li>
                {% endfor %}
                </ol>

        {% elif bookob and not dvdob%}
            Search returned: {{ bookob.count }} books.<br/>
            <ol>
            {% for book in bookob %}
                <li><a href="/libapp/{{ book.id }}" style="text-decoration: underline; font-size: 130%"><cite>{{ book.title }}</cite></a><br/></li>
            {% endfor %}
            </ol>
            {% elif not bookob and dvdob %}
            Search returned: {{ dvdob.count }} DVDs.<br/>
            <ol>
            {% for dvd in dvdob %}
                <li><a href="/libapp/{{ dvd.id }}" style="text-decoration: underline; font-size: 130%"><cite>{{ dvd.title }}</cite></a><br/></li>
            {% endfor %}
            </ol>
        {% else %}
            <p style="font-size: 130%">No results to display</p>
        {% endif %}

{% endblock %}